
div.schedule-day {
width: 20%;
float: left; 
background-color: white; 
height: 2800px; 
border: 2px dashed maroon;
}

p.schedule-slot {
	position: absolute; 
	background-color: #B0E0E6;
	width: 19%;
	vertical-align: middle;
	left: auto;
	font-size: 9px;
}

div.schedule-times {
	width: 3%;
	float: left; 
	background-color: white; 
	height: 2800px; 
	border: 2px dashed maroon;
}

p.schedule-time {
	position: absolute;
	width: 83%;
	font-size: 9px;
	border: 1px solid black;
}

